.popupText {
  margin: 5pt 0pt 5pt 0pt ;
}
.advent-calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 50px;
  padding: 50px;
  max-width: 70%;
  margin: auto;
  background-size: cover;
  background-position: center;
}

.day {
  background-color: transparent; /* Türchen durchsichtig */
  border: 2px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
  aspect-ratio: 1 / 1;
  font-family: Tahoma, Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 4vw;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.day.closed {
  background-color: transparent; /* Geschlossene Türchen sind transparent */
}

.day:not(.open) {
  transition: transform 0.2s;
  cursor: pointer;
}

.day.open {
  width: 0;
  border: none;
  transition: width 1s ease-in-out;
}

.day::before {
  content: "";
  background: var(--background-image) center/cover no-repeat;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.day.opened {
  border: 2px dashed black;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.day:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.day.transparent {
  background: none;
  color: rgba(0, 0, 0, 0.6);
}

.day.current,
.day.opened.current {
  border: 2px solid #DA1F3D;
}

@keyframes openDoorAnimation {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes closeDoorAnimation {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

.closed {
  animation: closeDoorAnimation 1s forwards;
  background-color: transparent; /* Hier nochmal sicherstellen, dass es transparent bleibt */
}

/* Media queries */

@media (max-width: 575.98px) {
  .advent-calendar {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      padding: 20px;
      max-width: 100%;
  }
  .day {
      font-size: 8vw;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .advent-calendar {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      padding: 20px;
      max-width: 100%;
  }
  .day {
      font-size: 8vw;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .advent-calendar {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
      padding: 30px;
      max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Keine Änderungen erforderlich */
}

@media (min-width: 1200px) {
  /* Keine Änderungen erforderlich */
}
